#page-wrapper {
  margin-left: 10vw;
  margin-right: 10vw;
  min-width: 600px;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";

  #header {
    grid-area: header;
  }

  #content {
    grid-area: content;
  }

  #footer {
    grid-area: footer;
  }
}
